{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de alumnado</h1>

    <table>
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Partes</th>
            </tr>
        </thead>
        <tbody>
            {%  for alumno in alumnado %}
                <tr>
                    <td>{{ alumno[0].apellidos }}, {{ alumno[0].nombre }}</td>
                    <td>{{ alumno[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}

