{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de profesorado</h1>

    <table>
        <thead>
        <tr>
            <th>Profesor</th>
            <th>Grupo Tutoría</th>

        </tr>
        </thead>
        <tbody>
        {%  for profesor in profesores %}
            <tr>
                <td>{{ profesor.apellidos }}, {{ profesor.nombre }}</td>
                <td>
                    {% if profesor.tutoria %}
                        {{ profesor.tutoria.descripcion }}
                    {% else %}
                        No tiene
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}

